.dashboard {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  background-color: $color-screen-background;

  .panelApp {
    width: 20%;
    height: calc(100vh - (57px + 31px));
    background-color: $color-nav;

    .pulpit {
      border-left: 5px solid $color-highlights;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;

      h2 {
        font-size: 25px;
        margin: 25px 15px;
        color: $color-logo-white;
        font-weight: bold;
      }

      i {
        font-size: 25px;
        margin: 25px 15px;
        color: $color-highlights;
        font-weight: bold;
      }
    }

    .przepisy {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;

      h2 {
        font-size: 25px;
        margin: 25px 20px;
        color: $color-logo-white;
      }

      i {
        font-size: 25px;
        margin: 25px 15px;
        color: $color-highlights;
        font-weight: bold;
        display: none;
      }
    }

    .plany {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;

      h2 {
        font-size: 25px;
        margin: 25px 20px;
        color: $color-logo-white;
      }

      i {
        font-size: 25px;
        margin: 25px 15px;
        color: $color-highlights;
        font-weight: bold;
        display: none;
      }
    }
  }
}