@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap'); //Page base font
$regular-font: 'Open Sans', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Charmonman&display=swap');//Font for Logo
$logo-font: 'Charmonman', cursive;


@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css'); //font-awsome
// $fa-font-path: "../webfonts"; //font-awsome
// @import 'fontawesome-free-5.11.2-web/scss/fontawesome.scss';
// @import 'fontawesome-free-5.11.2-web/scss/brands.scss';
// @import "fontawesome-free-5.11.2-web/scss/regular.scss";
// @import "fontawesome-free-5.11.2-web/scss/solid.scss";
// @import "fontawesome-free-5.11.2-web/scss/v4-shims.scss";